<h2>Edit Product</h2>

<form *ngIf="product != null">
    <div class="wrapper">
        <label for="">Name</label>
        <input class="name" type="text" name="name" [(ngModel)]="product.name">
        <label for="">Price</label>
        <input class="price" type="number" name="price" [(ngModel)]="product.price" min="1" step="any">
        <label for="">Image</label>
        <input type="text" name="imageUrl" [(ngModel)]="product.imageUrl">
        <img [src]="product.imageUrl" *ngIf="product.imageUrl">
        <label for="">Description</label>
        <textarea name="description" [(ngModel)]="product.description"></textarea>
    </div>
    <button (click)="onSave()">Save</button>
    <a class="delete" *ngIf="!isNew" (click)="onDelete()">Delete</a>
</form>

<p *ngIf="error == AdminEditError.NOT_FOUND">There was a problem finding the product. Please try again later.</p>
<p *ngIf="error == AdminEditError.CREATE_FAIL">There was a problem saving the product. Please try again later.</p>
<p *ngIf="error == AdminEditError.UPDATE_FAIL">There was a problem updating the product. Please try again later.</p>
<p *ngIf="error == AdminEditError.DELETE_FAIL">There was a problem deleting the product. Please try again later.</p>