<h2>Edit Product</h2>

<form *ngIf="product != null">
    <label for="">Name</label><br>
    <input type="text" name="name" [(ngModel)]="product.name"><br>
    <label for="">Image</label><br>
    <input type="text" name="imageUrl" [(ngModel)]="product.imageUrl"><br>
    <img [src]="product.imageUrl" *ngIf="product.imageUrl"><br>
    <label for="">Price</label><br>
    <input type="text" name="price" [(ngModel)]="product.price"><br>
    <label for="">Description</label><br>
    <textarea name="description" [(ngModel)]="product.description"></textarea><br>
    <br>
    <button (click)="onSave()">Save</button><br>
    <button *ngIf="!isNew" (click)="onDelete()">Delete</button>
</form>

<p *ngIf="error == AdminEditError.NOT_FOUND">There was a problem finding the product. Please try again later.</p>
<p *ngIf="error == AdminEditError.CREATE_FAIL">There was a problem saving the product. Please try again later.</p>
<p *ngIf="error == AdminEditError.UPDATE_FAIL">There was a problem updating the product. Please try again later.</p>
<p *ngIf="error == AdminEditError.DELETE_FAIL">There was a problem deleting the product. Please try again later.</p>