<div class="img-wrapper">
    <img [routerLink]="['/product', cartItem.productId]" [src]="product ? product.imageUrl : ''" alt="">
</div>
<p [routerLink]="['/product', cartItem.productId]">
    <b>{{ product ? product.name : '' }}</b>
    <br>
    {{ product ? productService.formatPrice(product.price) : '' }}
    <br>
    Amount: <input class="amount" type="number" [value]="cartItem.amount" (change)="onChange($event)" min=1>
    <br>
</p>
<a class="remove" (click)="onRemove()" id="remove">Remove</a>