<div class="img-wrapper">
    <img [routerLink]="['/product', cartItem.productId]" [src]="product ? product.imageUrl : ''" alt="">
</div>
<p>
    <a class="name" [routerLink]="['/product', cartItem.productId]">{{ product ? product.name : '' }}</a>
    <br>
    {{ product ? (product.price | currency:'EUR':'symbol') : '' }}
    <br>
    Amount: <input class="amount" type="number" [value]="cartItem.amount" (change)="onChange($event)" min=1>
    <br>
</p>
<a class="remove" (click)="onRemove()" id="remove">Remove</a>