<h2>Edit Account Info</h2>

<form *ngIf="user != null">
    <div class="wrapper">
    <input type="text" name="name" [(ngModel)]="registerForm.name" placeholder="Name"><br>
    <input type="email" name="email" [(ngModel)]="registerForm.email" placeholder="E-mail"><br>
    <input type="password" name="password" [(ngModel)]="registerForm.password" placeholder="Password"><br>
    <input type="password" name="repeatPassword" [(ngModel)]="repeatPassword" placeholder="Repeat password"><br>
    </div>
    <button (click)="onSave()">Save changed</button>
</form>

<p *ngIf="error == UserEditError.LOAD_FAIL" class="error">There was a problem retrieving your account info. Please try again later.</p>
<p *ngIf="error == UserEditError.UPDATE_FAIL" class="error">There was a problem updating your account info. Make sure you entered a valid email address and that your password is at least 8 characters long.</p>
<p *ngIf="error == UserEditError.PASSWORD_MISMATCH" class="error">Passwords don't match.</p>