<h2>Shopping Cart</h2>

<ul>
    <li *ngFor="let cartItem of cartItems">
        <app-cart-item
            [cartItem]="cartItem"
            [product]="products[cartItem.productId]"
            (remove)="onRemove($event)"
            (amountChange)="onAmountChange($event)">
        </app-cart-item>
    </li>
</ul>

<p class="total">Total: {{ this.productService.formatPrice(totalPrice) }}</p>

<p *ngIf="error == CartError.LOAD_FAIL">There was a problem loading your cart. Please try again later.</p>
<p *ngIf="error == CartError.UPDATE_FAIL">There was a problem updating the product in your cart. Please try again later.</p>
<p *ngIf="error == CartError.REMOVE_FAIL">There was a problem removing the product from your cart. Please try again later.</p>
<p *ngIf="error == CartError.CLEAR_FAIL">There was a problem clearing your cart. Please try again later.</p>
<p *ngIf="error == CartError.CHECKOUT_FAIL">There was a problem checking out. Please try again later.</p>

<button (click)="onCheckout()">Checkout</button>
<a (click)="onRemoveAll()">Remove all</a>
