<h2>Shopping Cart</h2>

<ul>
    <li *ngFor="let cartItem of cartItems">
        <app-cart-item
            [cartItem]="cartItem"
            [product]="products[cartItem.productId]"
            (remove)="onRemove($event)"
            (amountChange)="onAmountChange($event)">
        </app-cart-item>
    </li>
</ul>

<p class="total">Total: {{ totalPrice | currency:'EUR':'symbol' }}</p>

<p *ngIf="error == CartError.LOAD_FAIL" class="error">There was a problem loading your cart. Please try again later.</p>
<p *ngIf="error == CartError.UPDATE_FAIL" class="error">There was a problem updating the product in your cart. Please try again later.</p>
<p *ngIf="error == CartError.REMOVE_FAIL" class="error">There was a problem removing the product from your cart. Please try again later.</p>
<p *ngIf="error == CartError.CLEAR_FAIL" class="error">There was a problem clearing your cart. Please try again later.</p>

<button [routerLink]="['/checkout']" [disabled]="cartItems.length == 0">Checkout</button>
<a (click)="onRemoveAll()">Remove all</a>
