<h2>Admin Panel</h2>

<button [routerLink]="['/admin/edit']">New Product</button>

<ul>
    <li *ngFor="let product of products">
        <app-admin-list-item
            [product]="product"
            (delete)="onDelete($event)">
        </app-admin-list-item>
    </li>
</ul>

<p *ngIf="error == AdminError.LOAD_FAIL" class="error">There was a problem loading the products. Please try again later.</p>
<p *ngIf="error == AdminError.DELETE_FAIL" class="error">There was a problem deleting the products. Please try again later.</p>