<div *ngIf="product != null" >

    <p class="name">{{ product.name }}</p>

    <div class="product-wrapper">

        <div class="img-wrapper">
            <img [src]="product.imageUrl"> 
        </div>

        <div class="price-wrapper">
            <p class="price">{{ product.price | currency:'EUR':'symbol' }}</p>
            <button *ngIf="!inCart" class="add-to-cart" (click)="onAddToCart()" >Add to cart <i class="material-icons">shopping_cart</i></button>
            <button *ngIf="inCart" class="add-to-cart btn-alt" [routerLink]="['/cart']">In cart <i class="material-icons">shopping_cart</i></button>
            <button *ngIf="!onWishlist" class="add-to-wishlist" (click)="onAddToWishlist()" >Add to wishlist <i class="material-icons">favorite</i></button>
            <button *ngIf="onWishlist" class="add-to-wishlist btn-alt" [routerLink]="['/wishlist']">On wishlist <i class="material-icons">favorite</i></button>
            <p class="shipping">
                <i class="material-icons">check</i> No shipping <br>
                <i class="material-icons">check</i> No refund
            </p>
        </div>

    </div>

    <p class="description">{{ product.description }}</p>

</div>

<div *ngIf="error == ProductDetailError.NOT_FOUND" >
    <h2>Product not found</h2>
    <p>We looked everwhere, but we couldn't find the product you are looking for.</p>
</div>
<p *ngIf="error == ProductDetailError.ADD_TO_CART_FAIL">There was a problem adding this product to your cart. Please try again later.</p>
<p *ngIf="error == ProductDetailError.ADD_TO_WISHLIST_FAIL">There was a problem adding this product to your wishlist. Please try again later.</p>