<h2>Account</h2>

<p *ngIf="error == UserError.LOAD_FAIL">There was a problem retrieving your account info. Please try again later.</p>
<p *ngIf="error == UserError.DELETE_FAIL">There was a problem deleting your account. Please try again later.</p>

<div class="user" *ngIf="user != null">
    <p>
        Name: <b>{{ user.name }}</b><br>
        E-mail: <b>{{ user.email }}</b><br>
        <span *ngIf="user.isAdmin">Administrator: <b>yes</b><br></span>
    </p>

    <button (click)="onLogout()">Sign out</button>
    <a (click)="onEdit()">Edit info</a>
    <a class="delete" (click)="onDelete()">Delete account</a>
</div>
