/* You can add global styles to this file, and also import other style files */

:root {
    --color-primary: #425EFF;
    --color-background: #FAFAFA;
    --color-card: #FFFFFF;
    --color-text: #303030;
    --color-text-ghost: #AAAAAA;
    --color-wishlist: #FF5656;
    --color-shipping: #37B700;
    --color-remove: #FF5656;

    --page-width: 1000px;
    --header-height: 65px;
}

html, body {
    font-family: 'Red Hat Text', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

i.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}


a {
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    cursor: pointer;
    color: var(--color-primary);
}

button {
    --button-color: var(--color-primary);
    --button-darken: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0));

    display: inline-block;
    margin: 10px;
    padding: 10px 20px;

    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0);
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;

    background: var(--button-darken), var(--button-color);
    color: var(--color-background);

    transition: --button-darken 0.2s;
    vertical-align: middle;
}

button:hover {
    --button-darken: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
}

button.btn-alt {
    background-color: var(--color-background);
    color: var(--button-color);
    border: 2px solid var(--button-color);
}

button.btn-alt:hover {
    --button-darken: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05));
}

input {
    margin: 5px;
    height: 20px;
    padding: 5px 10px;
    border: 1px solid var(--color-text-ghost);
    border-radius: 5px;
    color: var(--color-text);
}

input::placeholder {
    color: var(--color-text-ghost);
}

textarea {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid var(--color-text-ghost);
    border-radius: 5px;
    color: var(--color-text);
    font-family: 'Red Hat Text', sans-serif;
}

.error {

    color: var(--color-remove);

}