:host {
    background-color: #EEE;
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px;
    cursor: pointer;

    transform: translate(0,0);
    transition: transform 0.2s;
}

:host:hover {

    transform: translate(0,-5%);

}

img {
    max-width: 100px;
    max-height: 100px;
}