<h2>Register</h2>

<form>
    <div class="wrapper">
        <input type="email" name="email" [(ngModel)]="registerForm.email" placeholder="E-mail"><br>
        <input type="text" name="name" [(ngModel)]="registerForm.name" placeholder="Name"><br>
        <input type="password" name="password" [(ngModel)]="registerForm.password" placeholder="Password"><br>
        <input type="password" name="repeatPassword" [(ngModel)]="repeatPassword" placeholder="Repeat password"><br>
    </div>
    <button type="submit" (click)="onRegister()">Register</button>
</form>

<p *ngIf="error == RegisterError.REGISTER_FAIL">There was a problem registering your account. Make sure you entered a valid email address and that your password is at least 8 characters long.</p>
<p *ngIf="error == RegisterError.PASSWORD_MISMATCH">Passwords don't match.</p>